.App {
  /* text-align: center; */
}

.Body {
  height: calc(100vh - 58px);
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Google {
  /* margin-top: 100px; */
}
